.profile{
    background-color: #131619;
    color:white;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-left: 0;
    position: relative;
    right: 0;
    top:0;
    padding: 0;
}   

@media (min-width: 640px){
    .profile{
        padding: 0 10%;
    }
}

@media (min-width: 880px){
    .profile{
        width: 100%;
        height: auto;
        position: relative;
        margin-left: 22%;
        padding: 0 20%;
    }
}